<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}

<div style="text-align:center">

    <h1>Hello, {{ user.username|default:'Guest' }}!</h1>

    <div>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-info" href="{% url 'logout' %}">Logout</button>
            <button type="button" class="btn btn-info" href="{% url 'password_change' %}">Change password</button>
        {% else %}
            <button type="button" class="btn btn-info" href="{% url 'login' %}">Login</button>
        {% endif %}
    </div>

</div>

{% endblock %}